Source: ros-hydro-joint-qualification-controllers
Section: misc
Priority: extra
Maintainer: Devon Ash <dash@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-control-toolbox, ros-hydro-pluginlib, ros-hydro-pr2-controller-interface, ros-hydro-pr2-hardware-interface, ros-hydro-pr2-mechanism-model, ros-hydro-realtime-tools, ros-hydro-robot-mechanism-controllers, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-urdf
Homepage: http://www.ros.org/wiki/joint_qualification_controllers
Standards-Version: 3.9.2

Package: ros-hydro-joint-qualification-controllers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-control-toolbox, ros-hydro-pluginlib, ros-hydro-pr2-controller-interface, ros-hydro-pr2-hardware-interface, ros-hydro-pr2-mechanism-model, ros-hydro-realtime-tools, ros-hydro-robot-mechanism-controllers, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-urdf
Description: Controllers used in PR2 hardware testing. For testing counterbalance of PR2, and for internal WG use.
